.todo-search {
    --icon-width: 24px;
    --icon-margin-rigth: 15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    justify-content:left;
    align-items:flex-start;
}

.todo-search img {
    width: var(--icon-width);
    margin-right: var(--icon-margin-rigth);
}

.todo-search input {
    background-color: var(--primary-color);
    width: calc(var(--content-width) - var(--icon-margin-rigth) - var(--icon-width));
    min-width: calc(var(--min-content-width) - var(--icon-margin-rigth) - var(--icon-width));
    max-width: calc(var(--max-content-width) - var(--icon-margin-rigth) - var(--icon-width));
    height: var(--icon-width);
    border: 0px;
    border-bottom: 1px solid var(--white);
    font-size: var(--md);
    color: var(--white);
}

.todo-search input::placeholder {
    color: var(--white);
}