.container {
    --radius: calc(var(--display-size) * (40/320));
    width: var(--display-size);
    height: var(--height);
    max-width: var(--max-width);
    min-width: var(--min-width);
    position: relative;
    z-index: 3;
}

.container > div:first-child {
    width: 100%;
    height: var(--height);
    position: absolute;
    top: calc(-1 * var(--radius));
    background-color: var(--primary-color);
    border-radius: var(--radius) var(--radius) 0px 0px;
    padding: calc(var(--radius)/2) var(--radius) 0;
}

.containter > div:first-child > div {
    width: calc(var(--display-size) - 2 * var(--radius));
    display: flex;
    justify-content: space-between;
}